{% extends 'base.html.twig' %}

{% block title %}New SimNumber{% endblock %}

{% block body %}
    <h1>Create new SimNumber</h1>

    {{ include('sim_number/_form.html.twig') }}

    <a href="{{ path('sim_number_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
